body {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0%;
    text-align: center;
    background-image: linear-gradient(to right,rgba(255, 221, 69, 0.633),rgba(255, 149, 50, 0.793));
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(255, 150, 64);
    border-radius: 15px;
    width: 500px;
    
  }
  
  #ContainerCard{
    width: 30px;
  }

    .card{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  